<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boot.demo.dao.master.ManagerInfoMapper">
    <resultMap id="ManagerResultMap" type="boot.demo.entity.po.ManagerInfoPO">
        <result column="mid" property="id" />
        <result column="username" property="username" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="state" property="state" />
    </resultMap>
    <resultMap id="roleResultMap" type="boot.demo.entity.po.SysRolePO">
        <result column="rid"  property="id"/>
        <result column="role"  property="role"/>
        <result column="description"  property="description"/>
    </resultMap>
    <resultMap id="PermissionResultMap" type="boot.demo.entity.po.SysPermissionPO">
        <result column="pid" property="id" />
        <result column="permission" property="permission" />
    </resultMap>
    <resultMap id="RPResultMap" type="boot.demo.entity.bo.RmpBO" extends="roleResultMap">
        <collection property="permissions" resultMap="PermissionResultMap"> </collection>
    </resultMap>
    <resultMap id="BaseResultMap" type="boot.demo.entity.bo.ManagerRoleBO" extends="ManagerResultMap">
        <collection property="roles" resultMap="RPResultMap"> </collection>
    </resultMap>
    <!--&#45;&#45;       CONCAT('%',#{userName},'%')-->
    <select id="findByUsername" resultMap="BaseResultMap">
      SELECT m.id AS mid,m.username,m.`name`,m.`password`,m.salt,m.state,SR.id AS rid,SR.role,SR.description,SP.id AS pid,SP.permission
      FROM manager_info M
      LEFT JOIN  manager_role_relationship MRR ON M.id = MRR.manager_Id
      JOIN sys_role SR ON MRR.role_Id = SR.id
      LEFT JOIN role_permission_relationship RPR ON SR.id = RPR.role_Id
      JOIN sys_permission SP ON RPR.permission_Id = SP.id
      WHERE M.username = #{username}
    </select>
</mapper>
